body {
  margin: auto;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#bdc3c7, #314152);
  height: 100vh;
}

.app-container {
  display: flex;
  justify-content: space-around;
  min-width: 825px;
}
