.chat-screen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex: 1;
  background: #1d425d;
  border-radius: 12.1px;
}

.online-list-container {
  width: 250px;
  flex: none;
  padding: 20px;
  color: white;
  overflow-y: scroll;
}

.chat-list-container {
  padding: 20px;
  width: 85%;
  display: flex;
  flex-direction: column;
  background: #fefdfb;
  border-radius: 0 12px 12px 0;
}
