@import url('https://fonts.googleapis.com/css?family=Roboto');

.login-container {
  height: 200px;
  margin: 100px 50px 0 50px;
  padding: 20px;
  border-radius: 20px;
  background: #fefdfb;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Roboto', sans-serif;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.username-input {
  height: 20px;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.btn {
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  background: #1d425d;
  color: white;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  color: #febd29;
  transform: scale(1.05);
}
