@import url('https://fonts.googleapis.com/css?family=Lato');

.message-container {
  overflow-y: scroll;
  flex: 1;
}

.users-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
}

.user-posts {
  margin: 22px 0 10px 0;
}

.sender-username {
  font-size: 0.9rem;
  font-weight: bold;
}

.message {
  margin-top: 7px;
  font-size: 0.81rem;
}

.time {
  margin-left: 10px;
  font-size: 0.6rem;
  color: grey;
  font-weight: 100;
}
